# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/

# Virtual envs
.env
.venv
env/
venv/
ENV/

# Jupyter notebooks
.ipynb_checkpoints/

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Dados e modelos (gerados localmente, não versionar no Git)
data/
models/
reports/images/
*.parquet
*.csv
*.joblib
*.pkl

# Logs e cache
*.log
*.tmp
*.cache
__cache__/
*.DS_Store

# Streamlit
.streamlit/